{% extends 'LpFactoryCoreBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lpfactorycore/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/lpfactorycore/css/edit.css') }}">
{% endblock %}

{% block body_class %}page-editing toolbar-available{% endblock %}

{% block toolbar %}
    {% include 'LpFactoryCoreBundle:Page:_toolbar_edit.html.twig' with {
        tools: tools,
        page: page
    } %}
{% endblock %}

{% block content %}
    <div id="test" ng-controller="PageControllerImpl" ng-cloak>

        <div ng-repeat="block in page.blocks"
             id="block-{{ '{{ block.id }}'  }}"
             ng-drop="true"
             ng-drop-success="onDropComplete($index,$data,$event)">

            {% for type in get_block_types() %}
                <div ng-if="block.type === '{{ type }}'"
                     lpfactory-block
                     {{ type }}-block
                     block="block"
                     ng-drag="true"
                     ng-drag-data="block">
                </div>
            {% else %}
                No block type enabled in project
            {% endfor %}

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var lpfactoryconf = {
            page: {{ page|lpfactory_serialize }},
            configuration: {
                blocks: {{ block_map_chain|lpfactory_serialize }}
            }
        };

        window.CKEDITOR_BASEPATH = '/components/ckeditor/';
    </script>

    {% javascripts
        'components/jquery/dist/jquery.js'
        'components/ckeditor/ckeditor.js'
        'components/angular/angular.js'
        'components/ngDraggable/ngDraggable.js'
        'bundles/lpfactorycore/js/app.js'
        'bundles/lpfactorycore/js/controllers/page-controller.js'
        'bundles/lpfactorycore/js/controllers/page-controller-impl.js'
        'bundles/lpfactorycore/js/services/pageservice.js'
        'bundles/lpfactorycore/js/services/blockservice.js'
        'bundles/lpfactorycore/js/directives/lpfactory-ckeditor.js'
        'bundles/lpfactorycore/js/directives/lpfactory-block.js'
        'bundles/lpfactorycore/js/directives/ng-really-click.js'
        'bundles/lpfactorycore/js/directives/lpfactory-tool-add-block.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        angular.element(document).ready(function() {
            angular.bootstrap(document, ['LpFactoryApp']);
        });
    </script>
{% endblock %}
