{% extends 'LpFactoryCoreBundle::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/lpfactorycore/css/edit.css') }}">
{% endblock %}

{% block body %}
    <div id="test" ng-controller="PageControllerImpl" ng-cloak>
        {% include 'LpFactoryCoreBundle:Page:_tools.html.twig' with {
            tools: tools,
            page: page
        } %}

        {{ '{{page.title}}' }}

        <div ng-repeat-start="block in page.blocks"
             class="lpfactory-draw-drop-zone" style="display: none; height: 100px"
             ng-drop="true"
             ng-drop-success="onDropComplete($index,$data,$event)"
             ng-drag-move="onDragMove($data,$event)">
            Insert HTML here
        </div>
        <div ng-repeat-end="block in page.blocks"
             id="block-{{ '{{ block.id }}'  }}"
             ng-drop="true"
             ng-drop-success="onDropComplete($index,$data,$event)"
             ng-drag-move="onDragMove($data,$event)">
            {% for type in get_block_types() %}
                <div ng-if="block.type === 'text'"
                     lpfactory-block
                     {{ type }}-block
                     block="block"
                     ng-drag="true"
                     ng-drag-data="block">
                </div>
            {% else %}
                No block type enabled in project
            {% endfor %}
        </div>
    </div>

    <a href="{{ lp_path_page(page, 'view') }}">Return to view page</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var lpfactoryconf = {
            page: {{ page|lpfactory_serialize }},
            configuration: {
                blocks: {{ block_map_chain|lpfactory_serialize }}
            }
        };
    </script>

    {% javascripts
        'components/jquery/dist/jquery.js'
        'components/angular/angular.js'
        'components/ngDraggable/ngDraggable.js'
        'bundles/lpfactorycore/js/app.js'
        'bundles/lpfactorycore/js/controllers/page-controller.js'
        'bundles/lpfactorycore/js/controllers/page-controller-impl.js'
        'bundles/lpfactorycore/js/services/pageservice.js'
        'bundles/lpfactorycore/js/services/blockservice.js'
        'bundles/lpfactorycore/js/directives/lpfactory-block.js'
        'bundles/lpfactorycore/js/directives/ng-really-click.js'
        'bundles/lpfactorycore/js/directives/lpfactory-tool-add-block.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        angular.element(document).ready(function() {
            angular.bootstrap(document, ['LpFactoryApp']);
        });
    </script>
{% endblock %}
