{% extends 'OpSiteBuilderWebBundle::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/opsitebuilderweb/css/edit.css') }}">
{% endblock %}

{% block body %}
    <div id="test" ng-controller="PageControllerImpl" ng-cloak>
        {{ '{{page.title}}' }}

        <a ng-click="addBlock()">Add a block</a><br />

        <div ng-repeat="block in page.blocks"
             id="block-{{ '{{ block.id }}'  }}"
             ng-drop="true"
             ng-drop-success="onDropComplete($index,$data,$event)">
            {% for type in get_block_types() %}
                <div ng-if="block.type === 'text'"
                     opsite-block
                     {{ type }}-block
                     block="block"
                     ng-drag="true"
                     ng-drag-data="block">
                </div>
            {% else %}
                No block type enabled in project
            {% endfor %}
        </div>
    </div>

    <a href="{{ op_path_page(page, 'view') }}">Return to view page</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var opsiteconf = {
            page: {{ page|opsite_serialize }}
        };
    </script>

    {% javascripts
        'components/jquery/dist/jquery.js'
        'components/angular/angular.js'
        'components/ngDraggable/ngDraggable.js'
        'bundles/opsitebuilderweb/js/app.js'
        'bundles/opsitebuilderweb/js/controllers/page-controller.js'
        'bundles/opsitebuilderweb/js/controllers/page-controller-impl.js'
        'bundles/opsitebuilderweb/js/services/pageservice.js'
        'bundles/opsitebuilderweb/js/services/blockservice.js'
        'bundles/opsitebuilderweb/js/directives/opsite-block.js'
        'bundles/opsitebuilderweb/js/directives/ng-really-click.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        angular.element(document).ready(function() {
            angular.bootstrap(document, ['OpSiteBuilderApp']);
        });
    </script>
{% endblock %}
