{% extends 'OpSiteBuilderWebBundle::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/opsitebuilderweb/css/edit.css') }}">
{% endblock %}

{% block body %}
    <div id="test" ng-controller="PageEditControllerImp" ng-cloak>
        {{ '{{page.name}}' }}

        <a ng-click="addBlock()">Add a block</a><br />
        <a ng-click="customCtrlMethod()">Custom method</a>

        <div ng-repeat="block in page.blocks"
             id="block-{{ '{{ block.id }}'  }}"
             ng-drop="true"
             ng-drop-success="onDropComplete($index,$data,$event)">
            {% for type in get_block_types() %}
                <div ng-if="block.type === 'text'"
                     opsite-block
                     {{ type }}-block
                     block="block"
                     ng-drag="true"
                     ng-drag-data="block"
                     ng-drag-success="onDragSuccess($data,$event)">
                </div>
            {% else %}
                No block type enabled in project
            {% endfor %}
        </div>
    </div>

    <a href="{{ op_path_page(page, 'view') }}">Return to view page</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var opsiteconf = {};
        opsiteconf.page = {{ page|opsite_serialize }};
    </script>

    <script src="{{ asset('components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('components/angular/angular.js') }}"></script>
    <script src="{{ asset('components/ngDraggable/ngDraggable.js') }}"></script>
    <script src="{{ asset('bundles/opsitebuilderweb/js/app.js') }}"></script>
{% endblock %}
