<h2>{{ block.title|default( 'default_title'|trans({}, block.alias) ) }}</h2>

<p>
    {{ 'default_message.default_template'|trans }}<br />
    {{ 'default_message.missing_dev'|trans }}<br />
    <strong>{{ 'default_message.block_id'|trans }}</strong> {{ block.id }}<br />
    <strong>{{ 'default_message.block_type'|trans }}</strong> {{ block.alias }}
</p>
