{% extends app.request.isXmlHttpRequest ? 'OpSiteBuilderWebBundle:Block:layout_ajax.html.twig' : 'OpSiteBuilderWebBundle:Block:layout.html.twig' %}

{% block content %}
    {% if edit and block.isEditable %}<a href="{{ path(get_block_edit_route(block), {id: block.id }) }}">Edit block</a>{% endif %}

    <h2>{{ block.title|default( 'default_title'|trans({}, block.alias) ) }}</h2>

    <p>
        {{ 'default_message.default_view_template'|trans }}<br />
        {{ 'default_message.missing_dev'|trans }}<br />
        <strong>{{ 'default_message.block_id'|trans }}</strong> {{ block.id }}<br />
        <strong>{{ 'default_message.block_type'|trans }}</strong> {{ block.alias }}
    </p>
{% endblock %}
